<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary">JobNestHub</h1>

    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/job/list" class="nav-item nav-link">Jobs</a>

            <a href="/posts" class="nav-item nav-link">Blog</a>
            <!-- <a href="/contact" class="nav-item nav-link">Contact</a> -->

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                    style="color:rgb(71, 138, 4); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">
                    <b>
                        <%= data.name %>
                    </b>
                </a>
                <div class="dropdown-menu rounded-0 m-0">

                    <a href="/user" class="dropdown-item">User Dashboard</a>

                    <a href="/logout" class="dropdown-item">Logout</a>
                </div>
            </div>



        </div>

    </div>
</nav>